*means.json
*stds.json
wdm/train/datasets/heat
wdm/train/datasets/due
catboost_info
artifacts
.git
.vscode
*.pyc
*.zip
.idea/*
.vscode/*
*.csv
.pytest_cache
*.npy
*.sql
*.parquet
*.png
.ipynb_checkpoints
data
kline_data
plots

