*.pyc
timeSlot-events-*
.idea/*
.vscode/*
*.csv
\.ipynb_checkpoints/
.pytest_cache
*.zip
*.rst
*.parquet
*.egg-info
*.npy
*.sql
*means.json
*stds.json
sampleData
catboost_info
artifacts
kline_data
keys.py
.png
plots