
{% extends "layout-farm.html" %}
{% block content %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.5/bootstrap-table.min.css" rel="stylesheet">

</head>
<div class="container-fluid">
<div class="row card-container">
  <!-- Balance -->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
    <div class="card mb-2 text-white bg-dark">
      <div class="card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
            <a style="text-decoration: none" href="#"><h6 style="color: white";>Balance: {{dashboard.balance}} $</h6></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Profit-->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
    {% if dashboard.total_profit > 0 %}
        <div class="card mb-2 text-white bg-success">
    {% else %}
        <div class="card mb-2 text-white bg-danger">
    {% endif %}
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
                <a style="text-decoration: none" href="#"><h6 style="color: white";>Profit: {{dashboard.total_profit}} $</h6></a>
            </div>
        </div>
        </div>
    </div>
  <!-- successful_trade_count -->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
        <div class="card mb-2 text-white bg-secondary">
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
                <a style="text-decoration: none" onclick="tableFilter({'is_profit': 1})" href="#"><h6 style="color: white";>Successful: {{dashboard.successful_trade_count}}</h6></a>
            </div>
        </div>
        </div>
    </div>
  <!-- Failed_trade_count -->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
        <div class="card mb-2 text-white bg-secondary">
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
                <a style="text-decoration: none" onclick="tableFilter({'is_profit': 0})" href="#"><h6 style="color: white";>Failed: {{dashboard.failed_trade_count}}</h6></a>
            </div>
        </div>
        </div>
    </div>
  <!-- active_session_count -->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
        <div class="card mb-2 text-white bg-secondary">
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
                <a style="text-decoration: none" onclick="tableFilter({'status': 1})" href="#"><h6 style="color: white";>Active: {{dashboard.active_session_count}}</h6></a>
            </div>
        </div>
        </div>
    </div>
  <!-- completed-->
<div class="col-6 col-sm-4 col-md-3 col-lg mb-3">
        <div class="card mb-2 text-white bg-secondary">
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
                <a style="text-decoration: none" onclick="tableFilter({'status': 0})" href="#"><h6 style="color: white";>Finished: {{dashboard.completed_session_count}}</h6></a>
            </div>
        </div>
        </div>
    </div>



<div class="row">
      <div class="w3-white w3-text-grey w3-card-4">
      <div class="w3-container">
      <table id="table"
        data-toggle="table"
        data-pagination="true"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-page-size="20"
        data-page-list="[10, 25, 50, 100, all]"
        data-maintain-meta-data="true"
        data-search="false"
        data-filter-control="true"
        data-show-export="true"
        data-click-to-select="true"
        data-toolbar="#toolbar"
        data-show-refresh="false"
        class="table">
        <thead>
            <tr>
                <th data-field="id" data-filter-control="input" data-sortable="true" data-visible="false">SessionId</th>
                <th data-field="coin_id" data-filter-control="input" data-sortable="true" data-visible="false" >CoinId</th>
                <th data-field="name" data-filter-control="input" data-sortable="true" data-formatter="sessionIdFormatter">Coin</th>
                <th data-field="profit_percent" data-filter-control="input" data-sortable="true" data-formatter="profitPercentFormatter">Profit %</th>
                <th data-field="buy_price" data-filter-control="input" data-sortable="true" data-formatter="USDFormatter">BuyPrice</th>
                <th data-field="sell_price" data-filter-control="input" data-sortable="true" data-formatter="USDFormatter">Sell/LivePrice</th>
                <th data-field="quantity" data-filter-control="input" data-sortable="true" >Quantity</th>
                <th data-field="buy_timestamp" data-filter-control="input" data-sortable="true" data-visible="false">BuyTimestamp</th>
                <th data-field="buy_time" data-filter-control="input" data-sortable="true">BuyTime</th>
                <th data-field="sell_time" data-filter-control="input" data-sortable="true">SellTime</th>
                <th data-field="sell_timestamp" data-filter-control="input" data-visible="false">SellTime</th>
                <th data-field="profit" data-filter-control="input" data-sortable="true" data-formatter="profitFormatter">Profit $</th>
                <th data-field="status" data-filter-control="input" data-sortable="true" data-visible="false">Status</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        </div>
    </div>
 </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.5/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.5/locale/bootstrap-table-en-US.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.15.5/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script>
$("#table").bootstrapTable({
    url: '/get_completed_sessions',
    sortName: 'sell_timestamp',
    sortOrder: 'desc',
    // Custom row formatting based on session status and profit status
    rowStyle: function(row, index) {
        if (row.status === 1) {
            if (row.is_profit === 1) {
                // Apply styles for active sessions with profit
                return {
                    classes: 'active-profit-session-row'
                };
            } else if (row.is_profit === 0) {
                // Apply styles for active sessions with loss
                return {
                    classes: 'active-loss-session-row'
                };
            }
        } else if (row.status === 0) {
            // Apply styles for completed sessions
            return {
                classes: 'completed-session-row'
            };
        } else {
            // No custom styling for other statuses
            return {};
        }
    }
});



  function tableFilter(filter) {
    $("#table").bootstrapTable('filterBy', {
      ...filter
    });
  }

  function sessionIdFormatter (value, row) {
    return `<b><a href="/transactions/${row.id}">${value}</a></b>`;
  }



function profitFormatter(value, row) {
  let statusHtml = "";

  if (row["is_profit"] === 0) {
    statusHtml += `<button class='btn btn-danger'>${parseFloat(row["profit"]).toFixed(2)} $</button> `;
  }
  if (row["is_profit"] === 1) {
    statusHtml += `<button class='btn btn-success'>${parseFloat(row["profit"]).toFixed(2)} $</button> `;
  }

  return statusHtml;
}

function profitPercentFormatter(value, row) {
  let statusHtml = "";

  if (row["is_profit"] === 0) {
    statusHtml += `<button class='btn btn-danger'>${parseFloat(row["profit_percent"]).toFixed(2)} %</button> `;
  }
  if (row["is_profit"] === 1) {
    statusHtml += `<button class='btn btn-success'>${parseFloat(row["profit_percent"]).toFixed(2)} %</button> `;
  }

  return statusHtml;
}



function USDFormatter(value, row) {
  return  value + " $";
}



</script>
{% endblock content %}

